*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-de-fundo: rgb(255, 255, 255);
    --cor-do-texto: white;
    --segunda-cor-do-texto: rgb(0, 0, 0);
    --cor-do-header: #45A635;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: 'Noto Serif', serif;
} 

header{
    background-color: var(--cor-do-header);
    color: var(--cor-do-texto);
 }
 
 .Cabeçalho{
     text-align: center;
     padding: 0;
 }

.banner{
    display:inline;
    justify-content:baseline;
    width: 100%;
}

.select{
    border: 0;
    color: var(--cor-do-texto);
    outline: none;
    width: 100%;
    height: 41.4px;
    font-weight: 600;
    padding: 9px 40px 9px 18px;
    background-color: #45A635;
    box-shadow: #257418;
}

.button{
    border: 0;
    color: var(--cor-do-texto);
    outline: none;
    width: 100%;
    height: 41.4px;
    font-weight: 600;
    padding: 9px 40px 9px 18px;
    background-color: #45A635;
    box-shadow: #257418;
}    

.topicos{
    color: var(--cor-do-texto);
    padding: 0 16px;
    display:flexbox;
    font-size:90%;
}

.botão{
    color: var(--cor-do-texto);
}

.text{
    display: block;
}

.título{
    color: var(--segunda-cor-do-texto);
    text-align: center;
    padding: 3% 0;
    font-size: 130%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
 }

 .subtitle{
    color: var(--segunda-cor-do-texto);
    text-align: center;
    margin: 0 16px;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
 }

 .texto{
    color: var(--segunda-cor-do-texto);
    margin: 0 16px;
    padding: 20px 0;
    justify-content:center;
    text-align:justify;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
 }

 .caixas{
    margin: 1%;

 }

 .boxes{
    background-color: var(--cor-do-header);
    border-color: black;
}

 .título-box{
    color: var(--cor-do-texto);
    text-align: center;
    margin: 2%;
    padding: 3% 0;
    font-size: 130%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
 }

 .boxes-sub{
    background-color: var(--cor-de-fundo);
    border-color: black;
 }

 .texto-box{
    color: var(--segunda-cor-do-texto);
    margin: 0 16px;
    padding: 20px 0;
    justify-content:center;
    text-align:justify;
    font-size: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .imagem{
    padding: 2%;
 }